#main {
	width: 70%;
	height: 70%;
	position: absolute;
	top:15%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#main img {
	height: auto;
	width: 70%;
}

h1 {
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	padding: 20 0;
}

ul#social li {
  display: inline;
  list-style: none;
	padding: 5;
	font-size: 4em;
}

a {
	color: black;
}

@media only screen and (orientation:landscape) {
	#main img {
		height: 50%;
		width: auto;
	}
	h1 {
		font-size: 4em;
	}
	ul#social li {
		font-size: 3em;
	}
	#main {
		top:15%;
	}
}

@media only screen and (max-width:820px) {
	h1 {
		font-size: 1.75em;
	}
	ul#social li {
		font-size: 2em;
	}
}

@media only screen and (max-width:820px) and (min-dpi:120) {
	ul#social li {
		font-size: 3em;
	}
}

@media only screen and (max-dpi:119) and (orientation:portrait) {
	ul#social li {
		font-size: 2em;
	}
}
