@font-face {
  font-family: 'PFDinDisplayProLightWebfont';
  src: url("../fonts/PFDinDisplayPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }
@font-face {
  font-family: 'PTSansRegularWebfont';
  src: url("../fonts/PTSans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }
* {
  margin: 0;
  padding: 0; }

*:focus {
  outline-width: 0; }

a {
  color: #ff8208;
  text-decoration: none; }

body {
  background-color: #fff;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-family: "微软雅黑";
  line-height: 1.4em;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

body, select, input[type=text], input[type=time], input[type=date] {
  font-family: 'PFDinDisplayPro-Light', PFDinDisplayProLightWebfont, sans-serif;
  font-weight: normal; }

select, input[type=time], input[type=date] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  position: absolute;
  top: 13px;
  color: #A8A8A8;
  font-size: 1em;
  line-height: 1em;
  background-color: #fff; }

input[type=date] {
  direction: rtl; }

select {
  right: 24px;
  font-size: 14px;
  color: #555;
  top: 14px; }

input[type=time] {
  right: 10px !important; }

input[type=date] {
  right: 10px !important; }

.select-triangle {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #ff8400; }

.item-container {
  color: #333333;
  margin-bottom: 20px;
  clear: left;
}

.item-container-header {
  padding: 10px 10px 5px;
  text-transform: uppercase;
  font-family: 'PT Sans', PTSansRegularWebfont, sans-serif;
  font-size: .8em;
  font-weight: normal;
  background: #fff;
  color: #888; }

.item-container-content {
  background-color: #fff;
  margin: 0 10px;
  border-radius: 6px;
  border: 1px solid #dedede;}

.item-container-footer {
  padding: 3px 10px;
  font-size: .7em;
  line-height: 1.4em;
  color: #A8A8A8; }

.item {
  position: relative;
  padding: 10px;
  display: block;
  color: #333;
  font-size: 16px;
  font-family: "微软雅黑",arial;
  overflow: hidden; }

.item:not(:first-child) {
  border-top: 1px solid #DEDEDE; }

.item-subtitle-wrapper {
  font-size: 1em; }

.item-subtitle-wrapper .item-styled-toggle-wrapper {
  top: 16px; }

.item-subtitle-wrapper .item-styled-checkbox {
  top: 18px; }

.item-subtitle-wrapper .item-styled-radio {
  top: 16px; }

.item-subtitle-wrapper .item-draggable-handle {
  top: 18px; }

.item-subtitle {
  font-size: .7em;
  line-height: .7em;
  padding: .3em 0; }

.item-styled-toggle-wrapper {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 41px;
  height: 18px;
  border-radius: 8px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: background-color; }

.item-styled-toggle {
  position: relative;
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  left: -3px;
  border-radius: 14px;
  top: -3px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px #999;
  transition-property: left; }

.item-toggle {
  display: none; }

.item-toggle + .item-styled-toggle-wrapper {
  background-color: #ccc; }

.item-toggle:checked + .item-styled-toggle-wrapper {
  background-color: #ff8400; }

.item-toggle + .item-styled-toggle-wrapper .item-styled-toggle {
  left: -3px; }

.item-toggle:checked + .item-styled-toggle-wrapper .item-styled-toggle {
  left: 20px; }

/*.item-styled-toggle-bar {
  width: 3px;
  height: 15px;
  margin-left: 3px;
  background-color: #EAEAEA;
  float: left;
  position: relative;
  left: 4px;
  top: 7px; }
*/
.item-styled-checkbox {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 21px;
  height: 21px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid; }

.item-checkbox {
  display: none; }

.item-checkbox + .item-styled-checkbox {
  border-color: #DEDEDE; }

.item-checkbox:checked + .item-styled-checkbox {
  border-color: #FF4700;
  background-color: #FF4700; }

.item-checkbox:checked + .item-styled-checkbox:before {
  content: "";
  display: block;
  position: relative;
  left: 7px;
  width: 6px;
  height: 14px;
  border-color: #F7F7F7;
  border-width: 0 2px 2px 0;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.item-styled-radio {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 21px;
  height: 21px;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid; }

.item-radio {
  display: none; }

.item-radio + .item-styled-radio {
  border-color: #DEDEDE; }

.item-radio:checked + .item-styled-radio {
  border-color: #FF4700;
  background-color: #FF4700; }

.item-radio:checked + .item-styled-radio:before {
  content: "";
  display: block;
  position: relative;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 14px;
  border-color: #F7F7F7;
  border-width: 0 2px 2px 0;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.item-color {
  display: none; }

.item-styled-color {
}
  .item-styled-color .value {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 56px;
    height: 30px;
    border-radius: 5px;
    border-color: #A8A8A8;
    border-width: 1px;
    border-style: solid; }
  .item-styled-color .color-box-wrap {
    display: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    }
    .item-styled-color .color-box-wrap.show {
      display: block; }
    .item-styled-color .color-box-wrap .color-box-container {
      width: 100%;
      left: 0;
      top: 0; 
    }
      .item-styled-color .color-box-wrap .color-box-container .color-box {
        float: left;
        cursor: pointer; }
        .item-styled-color .color-box-wrap .color-box-container .color-box.rounded-tl {
          border-top-left-radius: 5px; }
        .item-styled-color .color-box-wrap .color-box-container .color-box.rounded-tr {
          border-top-right-radius: 5px; }
        .item-styled-color .color-box-wrap .color-box-container .color-box.rounded-bl {
          border-bottom-left-radius: 5px; }
        .item-styled-color .color-box-wrap .color-box-container .color-box.rounded-br {
          border-bottom-right-radius: 5px; }

.item-date, .item-time {
  position: absolute;
  color: #F7F7F7 !important; }

.item-styled-date, .item-styled-time {
  position: absolute;
  top: 13px;
  right: 10px;
  color: #555;
  font-size: 14px;
  line-height: 1em;
  background-color: #fff; }

.item-input-wrapper {
  border-radius: 5px;
  border: 1px solid #DEDEDE; 
  margin: 10px;
}

.item-input-wrapper-button {
  box-sizing: border-box;
  width: 77%; }

.item-input {
  border: 0;
  background-color: transparent;
  padding: 10px 10px 7px 10px;
  font-size: 16px;
  width: 100%;
  color: #aaa;
  font-size: 14px;
  box-sizing: border-box; }

.button-container {
  margin: 20px 10px 0;
  text-align: center; }

.item-button {
  width: 100%;
  height: 40px;
  background-color: #ff8208;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

.item-input-button {
  position: absolute;
  right: 10px;
  top: 9px;
  width: 20%; }

.tab-buttons {
  display: table;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed; }

.tab-button {
  display: table-cell;
  position: relative;
  color: #FF4700;
  border: 1px solid #FF4700;
  border-right-width: 0;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  right: -1px; }

.tab-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-width: 0; }

.tab-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px; }

.tab-button.active {
  background-color: #FF4700;
  color: #F7F7F7; }

.item-slider {
  position: relative;
  top: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 30px;
  width: 79%;
  overflow: hidden;
  background-color: transparent;
  margin-top: -10px; }

.item-slider::-webkit-slider-thumb:before {
  content: "";
  position: absolute;
  top: 11px;
  left: -1001px;
  height: 2px;
  width: 1000px;
  background: #FF4700; }

.item-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
  top: -13px;
  height: 28px;
  width: 28px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #EAEAEA; }

.item-slider::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #DEDEDE; }

.item-slider::-webkit-slider-thumb:after {
  content: "lll";
  position: absolute;
  left: 4px;
  top: 3px;
  height: 12px;
  width: 10px;
  font-weight: normal;
  text-align: center;
  color: #DEDEDE;
  font-size: 16px;
  letter-spacing: 1px; }

.item-slider-text {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16%; }

.item-slider-text .item-input {
  text-align: center; }

.delete-item {
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  position: absolute;
  border-radius: 6px; }

.delete-item:before, .delete-item:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #A8A8A8;
  border-radius: 2px;
  top: 16px; }

.delete-item:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px; }

.delete-item:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 3px; }

.add-item {
  color: #FF4700; }

.item-draggable-handle {
  position: absolute;
  right: 5px;
  top: 10px;
  height: 28px;
  width: 28px; }

.item-draggable-handle-bar {
  margin-top: 5px;
  height: 2px;
  width: 20px;
  background-color: #A8A8A8;
  text-align: center; }

[draggable=true] {
  background-color: #F7F7F7;
  border: 2px solid #EAEAEA;
  border-radius: 2px; }

.logo {
  width: 70px;
  display: block;
  margin: 20px auto 10px;
}
.pay-page {
  position:relative;
  width:100%;
  height:100%;
}
.pay-page img {
  width:100%;
}
.pay-page .code {
  position:absolute;
  bottom:0px;
  right:100px;
  padding:0 20px;
  line-height:50px;
  font-size:50px;
  background:#222;
  color:#fff;
}
.value {
  float: right;
}
.clear {
  clear:both;
}
.health_icon {
  width: 8%;
  display: block;
  float: left;
}
.health_name {
  line-height: 30px;
}
.buy_flag {
  height: 100%;
}
.buy_flag_div {
  float: left;
  position: relative;
  height: 40px;
  margin-top: 10px;
}
.buy_flag_div span {
  bottom: 2px;
  color: #afc3c9;
  font-size: 12px;
  left: 34%;
  line-height: 16px;
  position: absolute;
  font-weight: bold;
}
.twitter { width: 278px; margin: 0 auto; border: 1px dotted #ccc; overflow: hidden; margin: 10px; padding: 10px;}
.twitter .twitter_logo { width:40px; float: left; margin-right: 10px;}
.twitter p { font-size: 16px; margin-top: 2px; }
.twitter a { color: #555; display: block; overflow: hidden;}
.twitter b { color: #ff8208; }
