body {
}


.page-content {
    background-color: white;
}

.button {
  
}



.intro-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}


.preset-thumbnails img {
    box-shadow : 0px 3px 2px rgba(175, 175, 175, .5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#AFAFAF') ;
    width: 100%;
}

.color-swatch {
    width: 20px;
    height: 20px;
   background : #AAAAAA;
  background : rgba(170, 170, 170, 1);
  border-style : Solid;
  border-color : #FFFFFF;
  border-color : rgba(255, 255, 255, 1);
  border-width : 3px;
  border-radius : 31px;
  -moz-border-radius : 31px;
  -webkit-border-radius : 31px;
  box-shadow : 0px 3px 2px rgba(175, 175, 175, .5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#AFAFAF') ;
}

.content-block {
    margin: 0px;
    padding: 0px;
}

.alert {
    background-color:transparent;
    color: #ff0055 !important;
    font-size: 10px;
    text-align: left !important;
    padding-left: 15px !important;
    padding-top: 13px !important;
    padding-bottom: 14px !important;
}

.alert i {
    float: right;
    padding-right: 12px;
    margin-top: -3px;
}


.purchase-button {
    color: #55aaaa !important;
    border-color: #55aaaa !important;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:13px;
}

.signin-button {
    color: #6013b0 !important;
    border-color: #6013b0 !important;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}


.item-after input[placeholder]{
    text-align: right;
    padding-bottom: 15px;
}






/* ADDED */


.color-picker-grid {
    width: 100%;
    height: 100%;
    font-size: 0px;
}

.color-pick-swatch {
    width: 12.5%;
    height: 12.6%;
    display: inline-block;
    padding: 0px !important;
    margin: 0px !important;
}